@use "./_colors" as *;
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html {
	font-size: 62.5%;
}
img {
	display: block;
	width: 100%;
	height: auto;
	font-style: italic;
}
.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}
body {
	font-family: "DM Sans", sans-serif;
	background-color: #f5f5f5;
	overflow-x: hidden;
}
.to-animate {
	animation: scale 0.7s 1 forwards;
}
.bento {
	&__container {
		padding: 3em 1em;
		display: grid;
		row-gap: 3em;
		grid-template-columns: 1fr;
	}
	&__accent--yellow {
		color: $yellow;
	}
	&__accent--purple {
		color: $purple;
		font-style: italic;
	}
	&__italic {
		font-style: italic;
	}
	&__brick {
		display: flex;
		flex-direction: column;
		padding: 2em;
		transform: scale(0.95);
		border-radius: 8px;
		overflow: hidden;

		&--social {
			align-items: center;
			padding: 3em 2em;
			text-align: center;
			background-color: $purple;
			color: $pureWhite;

			.bento__img {
				margin: 2em 0 0.8em;
				width: min(100%, 170px);
			}
		}
		&--accounts {
			background-color: $pureWhite;
			box-shadow: 0 0 10px #2e2e2e15;
			animation-delay: 0.1s;

			.bento__img {
				margin-block-end: 2em;
				width: min(100%, 350px);
			}
		}
		&--yellow-schedule {
			padding: 2em 2em 0;
			background-color: $yellow;
			animation-delay: 0.15s;

			.bento__img {
				position: relative;
				top: 1.5em;
				width: min(60%, 240px);
			}
		}
		&--purple-schedule {
			background-color: $purpleVeryLight;
			animation-delay: 0.2s;
			.bento__subtitle {
				text-align: center;
			}
			.bento__img {
				margin: 2em 0;
				width: min(100%, 350px);
			}
		}
		&--followers {
			background-color: $purple;
			align-items: center;
			text-align: center;
			color: $pureWhite;
			animation-delay: 0.1s;

			.bento__img {
				width: min(70%, 280px);
				margin-block-end: 4em;
			}
		}
		&--audience {
			background-color: $pureWhite;
			box-shadow: 0 0 10px #2e2e2e15;
			animation-delay: 0.25s;

			.bento__text {
				text-align: left;
				margin: 0.8em 0 1.5em;
			}
			.bento__img {
				width: min(100%, 170px);
			}
		}
		&--post {
			padding: 3em 2em;
			background-color: $yellowVeryLight;
			align-items: flex-start;
			animation-delay: 0.05s;

			.bento__img {
				margin-block-start: 2em;
				width: min(70%, 170px);
			}
		}
		&--ai {
			background-color: $yellow;
			animation-delay: 0.27s;

			.bento__img {
				margin-block-start: 2em;
				width: min(100%, 250px);
			}
		}
	}
	&__title {
		font-weight: 500;

		&--big {
			font-size: clamp(3.5rem, 13.5vw, 6rem);
			line-height: 90%;
		}
		&--small {
			line-height: 90%;
			font-size: clamp(2.8rem, 6.5vw, 3.6rem);
		}
	}
	&__subtitle {
		font-size: clamp(1.7rem, 6vw, 2.6rem);
		font-weight: 550;
		line-height: 90%;

		&--black {
			color: $black;
		}
	}
	&__text {
		font-size: clamp(1.6rem, 4vw, 1.7rem);
		line-height: 100%;
		text-align: center;
	}
	&__number {
		font-size: clamp(3.5rem, 13.5vw, 6rem);

		strong {
			font-weight: 400;
		}
	}
}

@media (500px <= width) {
	.bento {
		&__brick {
			padding: 4em 2em;
			&--social {
				padding: 5em 3em;
			}
			&--yellow-schedule {
				padding: 4em 2em 0;
			}
			&--purple-schedule {
				.bento__subtitle,
				.bento__text {
					text-align: left;
				}
			}
		}
	}
}
@media (576px <= width) {
	.bento {
		&__brick {
			&--ai {
				.bento__img {
					width: min(100%, 300px);
				}
			}
		}
	}
}

@media (700px <= width) {
	.bento {
		&__container {
			grid-template-columns: repeat(2, 1fr);
			gap: 2em;
		}
		&__brick {
			&--social {
				grid-column: 1 / -1;
			}
			&--accounts {
				grid-column: 1 / 2;
				grid-row: 2 / 3;
				justify-content: space-between;
			}
			&--yellow-schedule {
				grid-column: 2 / 3;
				grid-row: 2 / 3;

				.bento__img {
					top: 3em;
				}
			}
			&--audience {
				grid-column: 1 / 2;
				grid-row: 3 / 4;
			}
			&--post {
				grid-column: 2 / 3;
				grid-row: 3 / 4;
			}
			&--purple-schedule {
				grid-column: 1 / 2;
				grid-row: 4 / 5;
			}
			&--followers {
				grid-column: 1 / -1;
				grid-row: 5 / 6;
				flex-direction: row;
				align-items: center;
				justify-content: space-between;
				gap: 5em;
				text-align: left;

				.bento__img {
					margin: 0;
				}
			}
			&--ai {
				grid-column: 2 / 3;
				grid-row: 4 / 5;
			}
		}
	}
}

@media (850px <= width) {
	.bento {
		&__brick {
			&--social {
				padding: 8em 4em;
			}
		}
	}
}
@media (992px <= width) {
	.bento {
		&__container {
			grid-template-columns: repeat(4, 1fr);
		}
		&__brick {
			padding: 2em;
			&--social {
				padding: 5em 2em;
				grid-column: 2 / 4;
			}
			&--accounts {
				grid-column: 2 / 3;
				.bento__img {
					width: 270px;
				}
			}
			&--yellow-schedule {
				position: relative;
				grid-column: 3 / 4;
				grid-row: 2 / 3;

				.bento__img {
					position: absolute;
					width: min(80%, 165px);
					top: unset;
					bottom: -5em;
				}
			}
			&--post {
				padding: 6em 2em 4em;
				grid-column: 1 / 2;
				grid-row: 1 / 3;
				height: 350px;
			}
			&--purple-schedule {
				grid-column: 4 / 5;
				grid-row: 1 / 3;

				.bento__img {
					width: 350px;
				}
			}
			&--audience {
				grid-column: 2 / 3;
			}
			&--ai {
				grid-column: 1 / 2;
				grid-row: 2 / 4;
				margin-block-start: 7em;
			}
			&--followers {
				grid-column: 3 / 5;
				grid-row: 3 / 4;
				gap: 2em;
				.bento__img {
					width: 200px;
				}
			}
		}
	}
}
@media (1100px <= width) {
	.bento {
		&__container {
			gap: 2.5em;
		}
		&__brick {
			&--ai {
				margin-block-start: 6.5em;
			}
		}
	}
}
@media (1200px <= width) {
	.bento {
		&__brick {
			&--yellow-schedule {
				.bento__img {
					width: 190px;
					bottom: -6em;
				}
			}
		}
	}
}

@keyframes scale {
	0% {
		transform: scale(0.95);
	}
	50% {
		transform: scale(1.02);
	}
	100% {
		transform: scale(1);
	}
}
